# Supabase (mesmo projeto do ESP32)
EXPO_PUBLIC_SUPABASE_URL=https://SEU_PROJETO.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_COLOQUE_SUA_CHAVE
# alias aceito: EXPO_PUBLIC_SUPABASE_KEY=...

# Deve ser o mesmo DEVICE_ID do firmware
EXPO_PUBLIC_DEVICE_ID=estufa-01
